.about-section {
  background-color: var(--card-color);
}

.about-container {
  display: flex;
  align-items: center;
  gap: 4rem;
  text-align: left;
  max-width: 1200px;
  margin: auto;
}

.about-image {
  flex: 1;
  max-width: 450px;
}

.about-image img {
  width: 100%;
  border-radius: 12px;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--secondary-text-color);
}